# Backend config
PORT=3000
BACKEND_API_KEY=your_secret_key_optional

# API Keys (optionnel : laisse vide si les utilisateurs mettent leurs propres clés)
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
MISTRAL_API_KEY=GtTOLpmKmFm8T0dF8FZHoBdlgh6YE82Q
GOOGLE_API_KEY=